.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-principal-header{
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
  
}

.menu-dropdown-header{
  display: inline-block;
  position: relative;
  
  ul{
    opacity: 0;
    visibility: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    padding-top: 5px;
    transition: 0.5s;
   
  }
  li{
    white-space: nowrap;
  }
}
.menu-dropdown-header:hover ul{
  opacity: 1;
  visibility: visible;
}
